#logo{
    float: left;
}
#logo img{
    position:absolute;
    left: 10px;
    height: 60px;
}
#topMenu {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    font-family: 'Roboto Mono','Courier New', Courier, monospace;
    text-align:center;
    background-color: rgb(44,44,44,0.5);
    transition: top 0.5s;
}
#topMenu li {
    position:relative;
    padding:0 6%;
    display:inline;
}
#topMenu a{
    text-decoration:none; 
    color: white;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
.topMenuIcon:after {
    content: "";   
    display: block;
    position: absolute;
    height: 2px;
    left: 50%;
    width: 0;
    background: rgb(0, 255, 255, 0.7);
    transition: width 1.3s ease 0s, left 1.3s ease 0s;
}
@media screen and (min-width: 1101px) { 
    .topMenuIcon:after {
        bottom: -9px;
    }
}
@media screen and (max-width: 1100px) {  
    .topMenuIcon:after {
        bottom: 5px;
    }
}
.topMenuIcon:hover:after{ 
      width: 100%; 
      left: 0%;
}
.topMenuIcon{
      transition: text-shadow 1.3s;
}
.topMenuIcon:hover{
      text-shadow: 0px 0px 10px white;
}
@media screen and (min-width: 1101px) { 
    #topMenu #checkboxTop{
        display: none;
    }
}
@media screen and (max-width: 1100px) {    
    #topMenu input
    {
        margin: 0px 0px 0px 0px;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    #burgerMenu{
        position: absolute;
        top: 14px;
        right: 14px;
    }
    #burgerMenu span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #topMenu input:checked ~ #burgerMenu span:nth-child(1)
    {
        transform: rotate(45deg);
    }
    #topMenu input:checked ~ #burgerMenu span:nth-child(3)
    {
        transform: rotate(-45deg) translate(-2px,-2px);
    }
    #topMenu input:checked ~ #burgerMenu span:nth-child(2)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menu
    {
        position: absolute;
        top: 42px;
        right: 0px;
        width: 300px;

        background: rgb(44,44,44,0.5);
        list-style-type:none; 
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu li
    {
        display:list-item;

        position: relative;
        padding: 10px 0;
        font-size: 22px;
    }
    
    #topMenu input:checked ~ ul
    {
        transform: none;
    }
}